html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

/* #root {
  max-width: 1280px;
  padding: 2rem;
} */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
