:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;

    --white: #FFFFFF;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
    --greyDark-2: #737d97;
}

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;500&family=Lexend&family=Sen:wght@700&family=Staatliches&family=Viga&display=swap');


$shadow: .3rem .3rem .6rem var(--greyLight-2),
    -.2rem -.2rem .5rem var(--white);
$inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2),
    inset -.2rem -.2rem .5rem var(--white);


.proComponent {
    width: 75rem;
    height: fit-content;
    margin-bottom: 2rem;
    border-radius: 3rem;
    box-shadow: .8rem .8rem 1.4rem var(--greyLight-2),
        -.2rem -.2rem 1.8rem var(--white);
    padding: 4rem;
    padding-bottom: 0;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    & .componentHeader {
        // border: solid;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        margin-bottom: 3rem;

        & .proHeading {
            box-shadow: $inner-shadow;
            height: fit-content;
            width: 15rem;
            padding: 1rem;
            font-size: 1.8rem;
            // align-self: flex-start;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            letter-spacing: 3px;
            color: var(--greyDark);
        }
        & .empt {
            width: 100%;
        }
        & .edit {

            height: 100%;
            width: fit-content;
            font-size: 2.5rem;
            color: #71a9f3;
            margin-right: 1rem;

            & :hover {
                color: var(--primary);
            }
            & :active {
                color: var(--primary-dark);
            }

        }
        & .logOut {
            padding-top: 1.6px;
            height: 100%;
            width: fit-content;
            font-size: 2.5rem;
            color: rgb(255, 133, 133);

            & :hover {
                color: rgb(255, 31, 31);
            }
            & :active {
                color: rgb(201, 0, 0);
            }

        }
    }
}




.profile {
    justify-self: center;
    width: 100%;
    height: fit-content;
    min-height: 3.5rem;
    padding: 1rem;
    padding-bottom: 4rem;
    margin-bottom: 1rem;
    border-bottom: solid 2px var(--greyLight-2);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    user-select: none;
    transition: .3s ease;

    color: var(--greyDark);
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Lexend', sans-serif;
    // font-family: 'Sen', sans-serif;
    // font-family: 'Viga', sans-serif;
    // font-family: 'Secular One', sans-serif;
    // font-family: 'Staatliches', cursive;

    & h2 {
        font-size: 1.5rem;
        margin: 1rem;
        margin-left: 0;
        color: var(--greyDark-2);

        & b {
            font-size: 2rem;
            color: #9286fd;
            margin-right: 3rem;
        }

        &:hover {
            color: #9286fd;
            transform: translateX(-3px);
        }

        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    }

    & h3 {
        margin: 1rem;
        margin-top: 0;
        margin-left: 0;
        font-size: 1.5rem;
        color: var(--greyDark-2);

        & b {
            font-size: 2rem;
            color: #9286fd;
            margin-right: 3rem;
        }

        &:hover {
            color: #9286fd;
            transform: translateX(-3px);
        }

        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    }
}



/*  CARD  */

.myBlog {
    width: 75rem;
    height: fit-content;
    border-radius: 3rem;
    padding: 4rem;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(autofit, min-content);
    grid-column-gap: 3.5rem;
    grid-row-gap: 3.5rem;
    align-items: center;
}

.addCard {
    justify-self: center;
    width: 20rem;
    height: 22rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: $shadow;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    user-select: none;
    cursor: pointer;
    transition: .3s ease;
    font-size: 10rem;

    &__secondary {
        color: var(--greyLight-3);

        &:hover {
            transform: translateY(-2px);
            color: var(--greyDark);
        }

        &:active {
            box-shadow: $inner-shadow;
            transform: translateY(0);
            color: var(--primary);
        }
    }

    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.blogCard {

    justify-self: center;
    width: 20rem;
    height: 22rem;
    // padding: 1rem;
    // padding-top: 0;
    border-radius: 1rem;
    box-shadow: $shadow;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    user-select: none;
    cursor: pointer;
    transition: .3s ease;

    &__secondary {
        color: var(--greyDark);

        & .cross {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            // position: absolute;
            width: 100%;
            height: 0;
            margin-bottom: 1rem;
            // border: solid 1px;

            & .crossButton {
                width: 2.5rem;
                height: 2.5rem;
                background: #E4EBF5;
                border-radius: 50%;
                box-shadow: $shadow;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
                cursor: pointer;
                color: rgb(255, 155, 155);
                transition: all .5s ease;

                &:hover {
                    color: red;
                }

                &:active {
                    box-shadow: $inner-shadow;
                    color: rgb(176, 0, 0);
                }
            }

            transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
        }

        & .text {
            // border: solid;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            & h2 {
                width: 100%;
                margin-bottom: 1rem;
                font-size: 1.8rem;
                color: var(--primary);
            }

            & p {
                font-size: 1.3rem;
                text-align: justify;
                font-size: 1rem;
                color: var(--greyDark-2);
            }
        }


        &:hover {
            & h2 {
                color: #9286fd;
            }

            & p {
                color: #9baacf;
            }

            transform: translateY(-2px);
        }

        &:active {
            & h2 {
                color: #6557e3;
            }

            & p {
                color: #78839e;
            }

            box-shadow: $inner-shadow;
            transform: translateY(0);
        }
    }

    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}